:root {
	/* Backgrounds */
	--dark-background: #161616;
	--light-background: #dadada;

	/* Text colours */
	--dark-text: #2B2B2B;
	--light-text: #dadada;

	/* Link underline and hover background */
	--link-underline: inset 0 -8px 0;
	--link-background: inset 0 -20px 0;

	--dark-link-color: #353535;
	--dark-link-underline: #93939388;
	--dark-link-hover-bg: #939393b7;
	--dark-link-hover: #313131;

	--light-link-color: #e2e2e2;
	--light-link-underline: #81818171;
	--light-link-hover-bg: #666666;
	--light-link-hover: #f0f0f0;

	/* Card shadows */
	--light-card-shadow: 7px 7px 21px -10px #000000;
	--dark-card-shadow: 7px 7px 21px -10px #252525;
}

/* Fonts */
/* Akkurat */
@font-face {
	font-family: Akkurat;
	font-weight: 400;
	src: url(fonts/Akkurat-Regular.woff2);
}
@font-face {
	font-family: Akkurat;
	font-weight: 700;
	src: url(fonts/Akkurat-Bold.woff2);
}
/* SF Pro */
@font-face {
	font-family: SF-Pro;
	font-weight: 400;
	src: url(fonts/SF-Pro-Display-Regular.otf);
}
@font-face {
	font-family: SF-Pro;
	font-weight: 700;
	src: url(fonts/SF-Pro-Display-Bold.otf);
}
/* SF Mono */
@font-face {
	font-family: SF-Mono;
	font-weight: 400;
	src: url(fonts/SFMono-Regular.otf);
}
@font-face {
	font-family: SF-Mono;
	font-weight: 700;
	src: url(fonts/SFMono-Bold.otf);
}
/* Recoleta */
@font-face {
	font-family: Recoleta;
	font-weight: 400;
	src: url(fonts/Recoleta-Regular.woff2);
}
@font-face {
	font-family: Recoleta;
	font-weight: 700;
	src: url(fonts/Recoleta-Bold.woff2);
}

/* Font sizing */
h1 {
	font-size: clamp(35px, 6vw, 45px);
}
h2 {
	font-size: clamp(25px, 4vw, 32px);
}
h3 {
	font-size: clamp(22px, 2.7vw, 25px);
}
p {
	font-size: clamp(14px, 0.97rem, 20px);
	line-height: 150%;
}

/* Font assignment */
body {
	font-family: "Akkurat";
}
.mono {
	font-family: "SF-Mono";
}
.swag {
	font-family: "Recoleta";
}
.no-swag {
	font-family: "Akkurat";
}

/* Margin and padding 0 */
body, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0
}

/* General body styling */
body {
	background-color: var(--dark-background);
	color: var(--light-text);
}

img {
	width: 100%;
	margin-bottom: 20px;
}

iframe {
	width: 100%;
}

* a {
	text-decoration: none;
}
p a {
	/* font-weight: 700;; */
	padding: 0px 3px;
	margin: 0 3px;
	padding-top: 6px;
	padding-bottom: 0px;
	transition: 0.2s;
	cursor: pointer;
}
p a:hover {
	/* box-shadow: inset 0 -22px 0 var(--light-link-hover-bg);
	color: var(--light-link-hover) */
}

/* Color scheming */
.dark, .light {
	padding: 40px 0;
}

.dark {
	background-color: var(--dark-background);
	color: var(--light-text)
}
.light {
	background-color: var(--light-background);
	color: var(--dark-text)
}

.dark p a {
	color: var(--light-link-color);
	box-shadow: var(--link-underline) var(--light-link-underline);
}
.dark p a:hover {
	box-shadow: var(--link-background) var(--light-link-hover-bg);
	color: var(--light-link-hover)
}
.light p a {
	color: var(--dark-link-color);
	box-shadow: var(--link-underline) var(--dark-link-underline);
}
.light p a:hover {
	box-shadow: var(--link-background) var(--dark-link-hover-bg);
	color: var(--dark-link-hover)
}
/* Card desgin */
.card {
	padding-bottom: 30px;
	margin-bottom: 20px;
}

.card h3 {
	line-height: 130%;
}

.dark .card {
	background-color: var(--light-background);
	color: var(--dark-text);
	box-shadow: var(--light-card-shadow);
}
.dark .card p a {
	color: var(--dark-link-color);
	box-shadow: var(--link-underline) var(--dark-link-underline);
}
.dark .card p a:hover {
	box-shadow: var(--link-background) var(--dark-link-hover-bg);
	color: var(--dark-link-hover)
}

.light .card {
	background-color: var(--dark-background);
	color: var(--light-text);
	box-shadow: var(--dark-card-shadow)
}
.light .card p a {
	color: var(--light-link-color);
	box-shadow: var(--link-underline) var(--light-link-underline);
}
.light .card p a:hover {
	box-shadow: var(--link-background) var(--light-link-hover-bg);
	color: var(--light-link-hover)
}