:root {
	/* Backgrounds */
	--dark-background: #161616;
	--light-background: #dadada;

	/* Text colours */
	--dark-text: #2B2B2B;
	--light-text: #dadada;

	--dark-link-color: #ffffff;
	--dark-link-underline: #77777783;
	--dark-link-hover-bg: #bebebe;
	--dark-link-hover: #3d3d3d;
	
}

/* Fonts */
/* Akkurat */
@font-face {
	font-family: Akkurat;
	font-weight: 400;
	src: url(fonts/Akkurat-Regular.woff2);
}
@font-face {
	font-family: Akkurat;
	font-weight: 700;
	src: url(fonts/Akkurat-Bold.woff2);
}
/* SF Pro */
@font-face {
	font-family: SF-Pro;
	font-weight: 400;
	src: url(fonts/SF-Pro-Display-Regular.otf);
}
@font-face {
	font-family: SF-Pro;
	font-weight: 700;
	src: url(fonts/SF-Pro-Display-Bold.otf);
}
/* SF Mono */
@font-face {
	font-family: SF-Mono;
	font-weight: 400;
	src: url(fonts/SFMono-Regular.otf);
}
@font-face {
	font-family: SF-Mono;
	font-weight: 700;
	src: url(fonts/SFMono-Bold.otf);
}
/* Recoleta */
@font-face {
	font-family: Recoleta;
	font-weight: 400;
	src: url(fonts/Recoleta-Regular.woff2);
}
@font-face {
	font-family: Recoleta;
	font-weight: 700;
	src: url(fonts/Recoleta-Bold.woff2);
}

/* Font sizing */
h1 {
	font-size: clamp(35px, 6vw, 45px);
}
h2 {
	font-size: clamp(25px, 4vw, 32px);
}
h3 {
	font-size: clamp(22px, 2.7vw, 25px);
}
p {
	font-size: clamp(14px, 0.97rem, 20px);
	line-height: 150%;
}

/* Font assignment */
body {
	font-family: "Akkurat";
}
.mono {
	font-family: "SF-Mono";
}
.swag {
	font-family: "Recoleta";
}
.no-swag {
	font-family: "Akkurat";
}

/* Margin and padding 0 */
body, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0
}

/* General body styling */
body {
	background-color: var(--dark-background);
	color: var(--light-text);
}

img {
	width: 100%;
	margin-bottom: 20px;
}

* a {
	text-decoration: none;
}
p a {
	font-weight: 700;;
	color: var(--dark-link-color);
	box-shadow: inset 0 -8px 0 var(--dark-link-underline);
	padding: 0px 3px;
	margin: 0 3px;
	padding-top: 6px;
	padding-bottom: 0px;
	transition: 0.2s;
	font-family: "Recoleta";
	cursor: pointer;
}
p a:hover {
	box-shadow: inset 0 -22px 0 var(--dark-link-hover-bg);
	color: var(--dark-link-hover)
}

/* Margins n dat */
h1, h2, h3, p {
	margin-bottom: 10px;
}

/* Color scheming */
.dark, .light {
	padding-top: 30px;
	padding-bottom: 20px;
}

.light {
	background-color: var(--light-background);
	color: var(--dark-text)
}
.light h1, .light h2, .light h3 {
	color: var(--blue-text)
} 

/* Card desgin */
.card {
	width: 95%;
	padding-bottom: 25px;
	margin-bottom: 20px;
}
.card h2 {
	padding-top: 30px;
}
.card img {
	padding: 0;
	margin-bottom: 0;
}
@media screen and (max-width: 600px) {
	.card {
		width: 100%
	}
}
.dark .card {
	background-color: var(--light-background);
	color: var(--dark-text);
	box-shadow: 0px 0px 7px 2px #1d1d1d;
}
.light .card {
	background-color: var(--dark-background);
	color: var(--light-text);
	box-shadow: 0px 0px 7px 2px #797979;
}