:root {
	/* Backgrounds */
	--dark-background: #081421;
	--light-background: #F5F1E9;

	/* Text colours */
	--dark-text: #2B2B2B;
	--light-text: #c7c7c7;
	--blue-text: #081421;;
}

/* Fonts */
/* Akkurat */
@font-face {
	font-family: Akkurat;
	font-weight: 400;
	src: url(fonts/Akkurat-Regular.woff2);
}
@font-face {
	font-family: Akkurat;
	font-weight: 700;
	src: url(fonts/Akkurat-Bold.woff2);
}
/* SF Pro */
@font-face {
	font-family: SF-Pro;
	font-weight: 400;
	src: url(fonts/SF-Pro-Display-Regular.otf);
}
@font-face {
	font-family: SF-Pro;
	font-weight: 700;
	src: url(fonts/SF-Pro-Display-Bold.otf);
}
/* SF Mono */
@font-face {
	font-family: SF-Mono;
	font-weight: 400;
	src: url(fonts/SFMono-Regular.otf);
}
@font-face {
	font-family: SF-Mono;
	font-weight: 700;
	src: url(fonts/SFMono-Bold.otf);
}
/* Recoleta */
@font-face {
	font-family: Recoleta;
	font-weight: 400;
	src: url(fonts/Recoleta-Regular.woff2);
}
@font-face {
	font-family: Recoleta;
	font-weight: 700;
	src: url(fonts/Recoleta-Bold.woff2);
}

/* Font sizing */
h1 {
	font-size: clamp(35px, 6vw, 45px);
}
h2 {
	font-size: clamp(25px, 4vw, 32px);
}
h3 {
	font-size: clamp(22px, 2.7vw, 25px);
}
p {
	font-size: clamp(16px, 1rem, 20px);
	line-height: 150%;
}

/* Font assignment */
body {
	font-family: "Akkurat";
}
h1, h2 {
	font-family: "SF-Pro";
}
h3 {
	font-family: "Akkurat";
}
.mono {
	font-family: "SF-Mono";
}
.swag {
	font-family: "Recoleta";
}

/* Margin and padding 0 */
body, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0
}

/* General body styling */
body {
	background-color: var(--dark-background);
	color: var(--light-text);
}
.light {
	background-color: var(--light-background);
	color: var(--dark-text)
}
.light h1, .light h2, .light h3 {
	color: var(--blue-text)
} 