/* Responsve screen breakpoints */
/* Small: 0px - 640px */
/* Medium: 641px - 1000px */
/* Large: 1001px - ∞ */

/* Width resitriction */
.width-restriction {
	width: 90%;
	margin: 0 auto;
}

/* Columns */
.row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.col-2 {
    grid-column: span 6;
}
.col-3 {
	grid-column: span 4;
}
.col-4 {
	grid-column: span 3;
}

/* Responsive column and width-restriction sizing */
@media screen and (max-width:800px) {
    .col-3 {
        grid-column: span 6;
    }
    .col-4, .col-2 {
        grid-column: span 12;
    }
    .col-4 .width-restriction, .col-2 .width-restriction {
        width: 100%
    }
}
@media screen and (max-width: 600px) {
    .col-3 {
        grid-column: span 12;
    }
    .col-3 .width-restriction{
        width: 100%;
    }
}